body {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 769px) {
  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  @-webkit-keyframes hidden_loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes hidden_loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .load {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    -webkit-animation: hidden_loader 3s 0s;
            animation: hidden_loader 3s 0s;
    opacity: 0;
    visibility: hidden;
  }
  .load #circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    border: 4px rgba(0, 0, 0, 0.25) solid;
    border-top: 4px black solid;
    border-right: 4px black solid;
    border-bottom: 4px black solid;
    border-radius: 50%;
    -webkit-animation: spin 0.5s infinite linear;
            animation: spin 0.5s infinite linear;
  }
  .logo {
    box-shadow: 1px 1px 1px #e1e1e1;
  }
  .logo img {
    width: 45%;
    margin-left: 27%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .loca {
    width: 100%;
    background-color: #99E2D0;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .loca i {
    width: 32%;
    display: flex;
    justify-content: end;
  }
  .loca input {
    width: 55%;
    border: none;
    background-color: #eaeaea;
    margin-left: 15px;
    color: black;
    font-weight: bold;
  }
  .presentation {
    width: 100%;
    background-color: #99E2D0;
    display: flex;
    flex-direction: column;
  }
  .presentation h2 {
    width: 70%;
    margin-left: 15%;
    text-align: center;
  }
  .presentation span {
    width: 70%;
    margin-left: 14%;
    text-align: center;
    margin-top: -10px;
  }
  .presentation button {
    width: 50%;
    border: none;
    border-radius: 50px;
    background-color: #FF79DA;
    color: white;
    margin-left: 24%;
    padding: 10px;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    padding-top: 15px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4392156863);
  }
  .element {
    background-color: #99E2D0;
    border-radius: 20px;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4392156863);
    padding-top: 20px;
  }
  .element a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .element span {
    border-radius: 80px;
    background-color: #9356DC;
    color: white;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -8px;
    margin-right: 20px;
  }
  .element i {
    margin-right: 20px;
    color: #9356DC;
  }
  .fonction h2 {
    margin-left: 20px;
  }
  .fonction ul {
    list-style-type: none;
  }
  .restaurant {
    background-color: #99E2D0;
    display: flex;
    flex-direction: column;
  }
  .restaurant h2 {
    margin-left: 20px;
    font-weight: bold;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
  .container img {
    width: 90%;
    margin: auto;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container p {
    background-color: #99e2d0;
    color: #008766;
    display: flex;
    margin-left: 70%;
    position: absolute;
    padding: 5px;
  }
  .info {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
  }
  .info h3 {
    padding-left: 10px;
  }
  .align {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .align span {
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: -10px;
  }
  .align a {
    padding-right: 30px;
    margin-top: -30px;
    text-decoration: none;
    color: black;
  }
  .heart_content {
    position: relative;
    right: 30px;
  }
  .heart_content .empty {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 1s 0s;
  }
  .heart_content .full {
    color: #C466DB;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1s 0s;
  }
  .heart_content:hover .empty {
    opacity: 0;
    z-index: -1;
  }
  .heart_content:hover .full {
    z-index: 999;
    opacity: 1;
  }
  footer {
    background-color: #353535;
    color: white;
    width: 100%;
  }
  .foot {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .foot span {
    font-family: "Shrikhand", cursive;
    margin-left: 10px;
    margin-top: 25px;
  }
  .foot ul {
    margin-left: -25px;
    list-style-type: none;
  }
  .foot li {
    margin-bottom: 10px;
  }
  .foot i {
    padding-right: 10px;
  }
  .foot a {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=tabletstyle.css.map */